<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
</head>

<body>
    <a href="/">back to ssn page</a>
    <p>Resume succesfully parsed. Upload another below:</p>
    <form method="POST" enctype="multipart/form-data" id="resume-upload">
        <input type="file" name="resume" id="resume" />
        <input type="submit" value="Upload Resume" />
    </form>
</body>

<script src="/static/add_csrf_to_form.js"></script>
<h1>Skill Info</h1>
<ul>
    {% for skill in rankings %}
    <li>{{ skill.skill_name }}: {{ skill.proficiency_level }}/4</li>
    {% endfor %}
</ul>
</body>

</html>
